.bg{
    box-sizing: border-box;
    position: relative;
    margin-top: 1px;
    background-color: rgb(147, 187, 236);
    width: 120px;
    height: 35px;
}
.mario{
    display: inline-block;
    animation-name: mario;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    position: absolute;
}